users/users.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="role"/>
        <xs:element type="xs:string" name="phone"/>
        <xs:element type="xs:string" name="address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
